.items li{
    width:min-content;
    height: min-content;
}
.animeitem{
    height: 300px;
    width: min-content;
}
.card img{
    height: 315px;
    width:  auto;
}

.animeitem p{
    font-size: 100%;
    color: #d4d4d4;
    text-align: center;
    max-inline-size: 150px;
    overflow: hidden;
}
h2{
    color: #d4d4d4;
    padding-top: 100px;
}


.carousel {
    height: 300px;
    width: 100%;
    position: relative;
}
.carousel .switchLeft,
.carousel .switchRight{
    color: white;
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    height: 100%;
    width: 45px;
    line-height: 300px;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    top: 0;
    z-index: 3;
}
.carousel .switchLeft{
    position:absolute;
    left: -50px;
}
.carousel .switchRight{
    position:absolute;
    right: -50px;
}
.carouselbox{
    height: 300px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.carouselbox a{
    text-decoration: none;
}
.carouselbox img{
    width: auto;
    height: 250px;
    background-size: cover;
    margin: 5px 10px;
    cursor: pointer;
    transition: .5s ease;
    z-index: 2;
}
.animeitem:hover{
    transform: scale(1.1);
}

